<h1>New Product</h1>

<h3>Default image for testing: 0.jpg, 1.jpg, 2.jpg, 3.jpg, 4.jpg</h3>
<h3>Use test.png if system doesn't found the image.</h3>
<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
